 *{
	 
	 margin:0;
	 padding:0;
	 
 }
 
 .wrap{
max-width:2480px;
display:block;
margin:0 auto;
background:url(imgs/bi.jpg);
background-repeat:no-repeat; 
background-size:cover;

 }
 .container{
	 max-width:2000px;
	 
 }
.cover {
	background: #95939370;
	display: inline-block;
	padding: 0px 100px;
	padding-bottom: 52px;
	padding-top: 52px;
	margin-top: 60px;
	margin-bottom: 110px;
}
 
 .wraps{
max-width:2480px;
	background:#ffffff;
	 
 }
 
 .card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff0;
	background-clip: border-box;
	border: 0;
	border-radius: 0;
	margin-top:100px;
}
 
 
 .cards {
	position: relative;
	/* display: -ms-flexbox; */
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #95939370;
	background-clip: border-box;
	border: 0;
	border-radius: 0;
	margin-top: 100px;
	max-width: 1500px;
	margin: 0 auto;
	padding: 60px 0px;
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 